.button {
  width: 220px;
  height: 42px;
  margin-top: 52px;

  color: #FFFFFF;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  background-color: #DB3828;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 33px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  transition: background-color 1s;
}

.button:hover {
  background-color: #f68980;
}