.container {
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.containerLogo {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #FEBDB1;
  background-image: linear-gradient(to bottom, #FEBDB1, #FF5555);
}

.title {
  margin-right: 100px;
  font-family: 'Nokora', serif;
  font-weight: 700;
  font-size: 3rem;
  color: #FFFFFF;

  display: flex;
  /* width: 50%; */
  align-items: center;
  justify-content: center;
}

.title div {
  color: #000000;
  
  width: 220px;
  height: 54px;
  margin-right: 10px;

  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}

.containerForm {
  width: 50%;
  background-color: #FFFFFF;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.containerForm h1 {
  font-family: 'Nokora', serif;
  font-weight: 700;

  color: #6D6D6D;
  font-size: 50px;
  line-height: 66px;
  letter-spacing: 0.02em;

  margin-bottom: 54px;
}

